.cartelera {
	width:200px;
	height:200px;
	margin:10px;
}

p {
	color:#ABA9A9;
}

.pie {
	background:#F3F3F3;
}

.arriba {
	margin-bottom:40px;
}

.medio {
	margin-bottom:40px;
}

.disclaimer {
	font-weight:bold;
	color: #ABA9A9;
}

.col-6 {
	padding:18px;
}